---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import Post from '~/components/Post.astro'
import { getPosts, getPostDescription } from '~/utils'
import Pagination from '~/components/Pagination.astro'

import { Image } from "astro:assets";
import Gif from "../assets/images/hacking.gif";

const posts = (await getPosts()).slice(0, 5)

const { translate: t } = Astro.locals

---

<LayoutDefault>
<div class="lg:mt-0 mt-[-30px] mb-[40px] lg:max-w-2xl">
  <Image src={Gif} alt="Imagen" class="w-full h-auto object-cover"/>
  <br>
    <p class="text-[17px] opacity-90 font-normal leading-6">Pentester | CTF Player | Cybersecurity Enthusiast | Computer Networks Student</p>
    <div class="text-[#fff] mt-2 opacity-80"> 
      <a class="text-[10px] sm:text-[17px]" href="mailto:tobifgabriel@gmail.com">echo 'dG9iaWZnYWJyaWVsQGdtYWlsLmNvbQ==' | base64 -d
      </a>
  </div>
  <div class="mt-6 flex gap-x-[18px] text-[13px] opacity-65">
    <span class="flex items-center">
      <a href="/about" class="flex items-center text-white">
        <svg class="size-3 mb-[-5px]" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5"/></svg>
          <span class="ml-1">About</span>
      </a>
  </span>
  <span class="flex items-center">
    <a href="/works" class="flex items-center text-white">
      <svg class="size-3 mb-[-5px]" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5"/></svg>
        <span class="ml-1">Works</span>
    </a>
</span> 
  </div>  
  </div>
  <section contain-layout un-flex="~ col gap-7.5">
    <h2 class="flex items-center mt-[30px] text-[21px] font-bold opacity-75"><svg class="size-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16 19H3v-2h13zm5-10H3v2h18zM3 5v2h11V5zm14 0v2h4V5zm-6 8v2h10v-2zm-8 0v2h5v-2z"/></svg>Latest posts</h2>
    {
      posts.map((post) => (
        <Post post={post}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </Post>
      ))
    }
    <Pagination showLeft={false} showPageCount={false} rightTitle={t('all_posts')} rightUrl={'posts/page/1'} />
  </section>
</LayoutDefault>
