---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import Post from '~/components/Post.astro'
import { getPosts, getPostDescription } from '~/utils'
import Pagination from '~/components/Pagination.astro'

import { Image } from "astro:assets";
import Gif from "../assets/images/hacking.gif";

const posts = (await getPosts()).slice(0, 5)

const { translate: t } = Astro.locals

---

<LayoutDefault>
<div class="mb-[30px] lg:max-w-2xl">
  <Image src={Gif} alt="Imagen" class="w-full h-auto rounded-md object-cover mb-6"/>
    <p class="text-[15px] sm:text-[17px] opacity-90 font-normal">Pentester | CTF Player | Cybersecurity Enthusiast | Computer Networks Student</p>
    <div class="text-[#fff] mt-2 opacity-80"> 
      <a class="text-[10px] sm:text-[17px]" href="mailto:tobifgabriel@gmail.com">echo 'dG9iaWZnYWJyaWVsQGdtYWlsLmNvbQ==' | base64 -d
      </a>
  </div>
  <div class="mt-4 flex gap-x-[10px] text-[15px] sm:text-[17px]">
    <span class="flex items-center">
      <a href="/about" class="flex items-center text-white">
      <span class="">About</span>
      </a>
  </span>
  <span class="flex items-center">
    <a href="/works" class="flex items-center text-white">
      <span class="">Works</span>
    </a>
</span> 
  </div>  
  </div>
  <section contain-layout un-flex="~ col gap-7.5">
    {
      posts.map((post) => (
        <Post post={post}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </Post>
      ))
    }
    <Pagination showLeft={false} showPageCount={false} rightTitle={t('all_posts')} rightUrl={'posts/page/1'} />
  </section>
</LayoutDefault>
